@model IEnumerable<AppVendas.Models.Venda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-responsive table-hover table-striped">
    <thead>
        <tr class="bg-black text-light">
            <th>
                @Html.DisplayNameFor(model => model.NotaFiscal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDaVendaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-light">
            <td>
                @Html.DisplayFor(modelItem => item.NotaFiscal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDaVendaId)
            </td>
            <td>
                    <a class="btn btn-outline-info btn-sm" asp-action="Edit" asp-route-id="@item.VendaId">Editar</a> |
                    <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.VendaId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
